a  {
   color: #000;
   transition: color 0.7s ease-in 0.3s;
}

body {
  margin: 0;
}

.body-part {
  display: inline;
  padding: 40px;
}

.body-part img {
  height: 300px;
  width: 300px;
  opacity: 2.0;
  float: left;
  padding: 0 50px 0 40px;
}

.body-part p {
  font-family: 'Arial';
  font-size: 30px;
  color: white;
  text-align: left;
  padding: 0 20px 0 20px;
  text-shadow: 2px 2px black;
}

body {
  background: url(http://i.imgur.com/g1qDpmr.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#page-header h1 {
  font-family: 'Norican', cursive;
  font-size: 150px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px grey;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

#page-nav ul {
  list-style: none;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 2rem;
}

#page-nav ul a {
    color: white;
    font-family: 'Norican', cursive;
    font-size: 30px;
    text-decoration: none;
}

#page-nav ul li {
  display: inline;
  padding: 0 20px;
}

#portfolio-pic {
  display: inline-block;
  padding: 50px;
  margin: auto;
}

#portfolio-pic .next-button .right.icon {
  margin: 0;
}

#portfolio-pic .next-button, #portfolio-pic .back-button {
  display: inline-block;
  vertical-align: middle;
  margin: .5rem;
}

#portfolio-pic .ui.shape {
  display: inline-block;
  vertical-align: middle;
}

.static-button {
  padding: 4rem;
}
